# Ignorar ambientes virtuais
.venv/
venv/
ENV/

# Ignorar arquivos de ambiente sensíveis
.env
email_service/.env

# Ignorar banco de dados local
*.db
*.sqlite3

# Ignorar arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar logs e arquivos temporários
*.log

# Ignorar configurações locais do VSCode
.vscode/

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de backup ou temporários de editores
*.bak
*~
